/* #000000 #FA255E #C39EA0 #F8E5E5 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #F8E5E5;
}